.more-about-currency {
  margin: 1rem 0;
  padding: 1rem;
  background: #fefefe;
  border-radius: 8px;
}

.separator-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  align-items: center;

  margin: 2rem 0;
}

.separator-line {
  block-size: 1px;
  background: #ccc;
}

.separator-content {
  align-content: center;

  inline-size: 200px;
  block-size: 35px;

  background-color: #3337;
  border-radius: 30px;

  text-align: center;
  white-space: nowrap;
}

.currencies-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.toggle-button {
  inline-size: 100%;
  padding: 0.5rem 1rem;

  border: 1px solid #ccc;
  border-radius: 20px;

  font-size: 1rem;
  text-align: start;

  cursor: pointer;

  &:hover {
    background-color: #3337;
  }
}