.rate-card {
  margin-left: 1rem;
  text-align: start;
}

.rate-value {

  margin-block-end: 0.5rem;
  font-size: 2.0rem;

  strong {
    font-weight: 700;
  }
}

.date {
  color: gray;
  font-size: 0.9rem;
}