.rateCard {
  margin-block-end: 2rem;
  text-align: center;
}

.rateValue {
  font-size: 2.0rem;
  margin-block-end: 0.5rem;

  strong {
    font-weight: 700;
  }
}

.date {
  color: #666;
  font-size: 0.9rem;
}