.panel {
  background: #f9f9f9;
  border-radius: 12px;
  margin-block-end: 2rem;
  padding: 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  margin-block-end: 1rem;
}

.currency {
  padding-inline-start: 8px;
  text-align: start;
}

.swapButton { 
  background: #0077ff;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  transition: background 0.2s;
  width: fit-content;

  &:hover {
    background: #005fcc;
  }
}