.panel {
  margin-block-end: 2rem;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 12px;
}

.grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  margin-block-end: 1rem;
}

.custom-select {
  min-inline-size: 350px;
}

.custom-select select {
  inline-size: 100%;
  padding: 0.675em 6em 0.675em 1em;

  background: none;
  background-color: transparent;
  border: 0 solid transparent;
  outline: none;

  font-size: 1.15rem;

  cursor: pointer;
}

.cell {
  display: grid;
  grid-template-columns: 80px 20px 1fr;
  align-items: center;

  padding: 0.5rem;

  background: transparent;
  border: 1px solid #3838388e;
  border-radius: 8px;

  font-weight: 600;
}

.amount {
  overflow-x: auto;

  border: 0;

  font-size: 1.15rem;
  text-align: start;
  white-space: nowrap;
}

.separator {
  justify-self: center;
  inline-size: 1px;
  block-size: 1.5em;
  background-color: #3838388e;
}

.currency {
  padding-inline-start: 8px;
  text-align: start;
}